body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: cornflowerblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: chocolate;
    font-size: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
}

.skill-level {
    height: 15px;
    background-color: #34b438;
    border-radius: 5px;
    width: var(--skill-level);
    margin-top: 10px;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}